@import url("font.css");

#page-basket{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 50px 0;
}

#button-en-savoir{
    width: 1200px;
    text-align: center;
    font-size: 25px;
    padding: 25px 0 25px 0;
}

#proceed{
    font-size: 25px;
    padding: 25px 25px 25px 25px;
}

#products-list{
    width: 1200px;
}

#products-list table{
    text-align: left;
    border-collapse: collapse;
    width: 1200px;
}

#products-list th{
    padding: 15px;
}

#products-list tr{
    border-bottom: 4px solid black;
    font-size: 22px;
    text-transform: uppercase;
    font-family: "Colus", sans-serif;
}

#products-list tr:last-child{
    border-bottom: 0px;
}

#page-basket input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.products{
    display: flex;
    flex-direction: row;
    height: 200px;
    margin: 15px 15px 30px 15px;
}

.products span{
    font-family: "Animosa", sans-serif;
    text-transform: none;
}

.products div{
    height: 208px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
}

.product-delete{
    font-size: 22px;
    margin-top: 93px;
    padding: 15px 20px 15px 20px;
    background-color: #1d2331;
    color: #b98e26;
    font-family: 'Colus', sans-serif;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 4px #b98e26;
}

.product-img{
    height: 200px;
    max-width: 200px;
    border: 4px solid #b98e26;
}

.product-quantity{
    font-size: 22px;
    width: 100px;
    padding: 15px 10px 15px 10px;
    background-color: #1d2331;
    color: #b98e26;
    font-family: 'Colus', sans-serif;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 4px #b98e26;
}

.button-minus{
    color: black;
    background:none;
    border:none;
    font-size:1em;
}

.button-plus{
    color: black;
    background:none;
    border:none;
    font-size:1em;
}

#retour-note{
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
}